<%# affichage des informations du moyen de transport choisi (sous forme de carte qui pop)  %>
<%# Dedans on veut un bouton pour creer une reservation %>

<div class="card-trip">
  <img src="https://api.time.com/wp-content/uploads/2021/02/cities-crisis-debt.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Votre transport : <%= @transport.transport_type %></h2>
      <p>description: <%= @transport.description %></p>
      <% unless current_user.id == @transport.user_id%>
        <%= simple_form_for [@transport, @reservation] do |f| %>
          <%= f.input :reservation_date, as: :date, html5: true, required: true %>
          <%= f.submit %>
        <% end %>
    </div>
    <div class="card-trip-pricing">
      <% if current_user.id == @transport.user_id%>
        <p> Posté par: Vous </p>
        <% else%>
        <p> Posté par: <%= "#{ User.find(@transport.user_id).email }" %></p>
        <% end %>
      <%= cl_image_tag("#{@transport.picture}", width: 150, height: 300, crop: :fill) %>
    <div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
