<div class="card-category-owner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "Place_de_la_Bourse__Bordeaux__France_onhhtx", height: 900, crop: :fill %>')">
  <h2>Bienvenu <%= current_user.username %> <i class="far fa-hand-point-down"></i></h2>
</div>

<div class="container-main">
  <div class="cards-container">
    <div class="card-reservation" >
      <h3>Mes transports en location</h3>
      <ul>
        <% @owner_transports.each do |owner_transport| %>
          <li><%= owner_transport.transport_type %>
          <%= link_to owner_transport_path(owner_transport),
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card-reservation">
      <h3>Mes location en cours</h3>
      <a class="btn-reservation" href="/reservations">Mes locations</a>
    </div>
  </div>

  <div class="card-form">
    <div class="card-reservation">
      <h3>Créer une offre</h3>
      <%= render "/shared/form", transport: @transport %>
    <div>
  </div>
</div>
